.header-background{
height:255px;
width:100%;
background: no-repeat url(img/h-back.jpg) -60px -93px;
}

.navi-background{
 background-color: rgba(0,0,0,0.5);
 padding: 10px;
}
.navi{
 
  text-align: center;
}

.navi .header-welcome a, .navi .header-middle a{
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.navi div{
  display: inline-block;
}

.navi .header-welcome{
float: left;
}

.navi .header-middle a {
  margin-left: 10px;
  margin-right: 10px;


}


.header-name {
display: inline-block;
color: #555;
font-size: 40px;
font-weight: bold;
width: 300px;
right: 0px;
float: right;
height: 200px;
background-color: rgba(255,255,255,0.8);
padding: 20px;
}


.navi .header-search{
  float: right;
}

.row{
  margin: 0;
}

.search-btn {
height: 30px;
width: 30px;
background-color: #AA4058;
display: inline-block;
font-size: 15px;
color: white;
font-weight: bold;
line-height: 30px;
}

.search-input {
height: 30px;
vertical-align: top;
width: 270px;
}





.r-list{
height:200px;
margin:20px;
}

.featured{
height: 400px;
}

.featured img{
height: 400px;
width: 100%;
}

.fr{
float:right;
}

.border-round{

}


.categories {
	list-style-image: url("img/po.png");
}



/* Header */



/*  Content  */

/* NEW */
.write-title{
  width: 100%;
}

.write-description, .write-ingredients {
width: 100%;
height: 150px;
}

.btn-50p{ width: 49%;}
.btn-25p{ width: 25%;}

/*  Sidebar */